.profile {
    margin: 0 auto;
    padding: 0 0 70px 0;
}

.profile__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__title {
    margin: 0;
    margin-top: 74px;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.profile__form {
    margin: 108px 0 185px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.profile__label {
    box-sizing: border-box;
    margin: 0;
    padding: 16px 0;
    min-width: 410px;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
}

.profile__label:first-of-type {
    border-bottom: 1px solid #424242;
}

.profile__field {
    box-sizing: border-box;
    margin: 0;
    background-color: inherit;
    border: 0;
    text-align: right;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #FFF;
}

.profile__field:focus {
    outline: 0;
}

.profile__result {
    margin: 0;
    padding: 0;
    opacity: 0;
    padding-bottom: 15px;
    color: #2BE080;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    transition: all .3s ease;
}

.profile__result_error {
    margin: 0;
    padding: 0;
    opacity: 0;
    padding-bottom: 15px;
    color: #d93025;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    transition: all .3s ease;
}



.profile__result_visible {
    opacity: 1;
}

.profile__button {
    margin: 0;
    padding: 0;
    background-color: inherit;
    border: 0;
    font-family: 'Inter';
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
    transition: .2s ease-in-out;
}

.profile__button:hover {
    opacity: .8;
    cursor: pointer;
}

.profile__button_disabled {
    opacity: .8;

}

.profile__button_disabled:hover {
    cursor: default;

}

.profile__edit-button {
    font-weight: 400;
    color: #FFF;
}

.profile__exit-button {
    margin-top: 16px;
    font-weight: 500;
    color: #EE3465;
}

@media screen and (max-width: 768px) {
    .profile__title {
        margin-top: 236px;
    }
    .profile__form {
        margin: 96px 0 210px 0;
    }
    
}

@media screen and (max-width: 500px) {
    .profile__title {
        margin-top: 70px;
    }

    .profile__form {
        margin: 80px 0 379px 0;
    }

    .profile__label {
        min-width: 260px;
    }
    
}