.notfound {
    margin-top: 246px;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    
}

.notfound__title {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
    text-align: center;

    color: #FFFFFF;
}

.notfound__subtitle {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
}

.notfound__back {
    margin: 0;
    margin-top: 184px;
    padding: 0;
    border: 0;
    background-color: inherit;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4285F4;
    transition: all .2s ease-in-out;
}

.notfound__back:hover {
    cursor: pointer;
    opacity: .7;
}