.saved-movies-page { 
    height: 100vh;
    display: flex;
    flex-direction: column; 
}

.saved-movies-page__content {
    padding: 0 30px;
    flex: 1 1 auto;
}


@media screen and (max-width: 500px) {
    .saved-movies-page__content {
        padding: 0 10px;
    }
    
}