.sign {
    box-sizing: border-box;
    padding: 70px 30px;
    max-width: 396px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 85vh;
    min-width: 320px;
}

.sign__logo {
    width: 38px;
    height: 38px;
    background-image: url('../../images/logo.svg');
}

.sign__title {
    margin: 0;
    padding: 40px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.sign__form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sign__textbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #8B8B8B;

}

.sign__field {
    min-width: calc(320px - 90px);;
    background: #2F2F2F;
    border: 0;
    border-radius: 8px;
    padding: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}

.sign__field:focus {
    outline: 0;
}

.sign__button {
    justify-self: flex-end;
    margin: 0 auto 16px auto;
    padding: 13px 0 15px 0;
    background: #4285F4;
    border-radius: 3px;
    border: 0;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    transition: .2s ease-in-out;
}

.sign__button:hover {
    opacity: .8;
    cursor: pointer;
}

.sign__tooltip {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
}

.sign__link {
    margin: 0;
    margin-left: 6px;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4285F4;
    transition: .2s ease-in-out;
}

.sign__error {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    color: #d93025;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.sign__success {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    color: #2BE080;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.sign__link:hover {
    opacity: .8;
}

@media screen and (max-width: 500px) {

    .sign__button {
        /* margin-top: 157px; */
    }

    .sign__logo {
        margin: 0 auto;
    }

    .sign__title {
        text-align: center;
    }
    
}